/* 
This is a solution to the "Product preview card component"  challenge on Frontend Mentor. Frontend Mentor challenges help you improve your coding skills by building realistic projects.
Link to the challenge:
https://www.frontendmentor.io/challenges/product-preview-card-component-GO7UmttRfa/hub
*/



/* --- FONTS ---*/

/* Montserrat, 500, 700 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Fraunces, 700 */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');


/* --- VARIABLES ---*/

:root {
    --color-button: #3c8067;
    --color-site-background: #f2ebe3;
    --color-title: #1c232b;
    --color-text: #6c7289;
}


/* --- RESET --- */

* {
    padding: 0;
    margin: 0;
}


/* --- TYPOGRAPHY --- */

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.card {
    color: var(--color-text);
}

.card-subheading {
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-size: 0.9em;
    font-weight: 500;
}

.card-title {
    font-family: 'Fraunces', serif;
}

.card-description {
    line-height: 1.5em;
}

/* --- LAYOUT --- */

body {
    height: 100vh;
    height: 100svh;
    display: grid;
    justify-items: center;
    align-items: center;
}

.card {
    width: 340px;
    aspect-ratio: 34 / 61;
    display: flex;
    flex-direction: column;
}

.card-image {
    display: block; /*for the the strange <img>-gap*/
    width: 100%;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    margin: 25px;
}

.card-prices {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.card-prices li {
    border: 1px solid black;
    vertical-align: middle;
}

.card-button {
    padding: 1em;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.attribution {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* --- DESIGN --- */

body {
    background-color: var(--color-site-background);
}

.card {
    border-radius: 10px;
    background-color: grey;
}

.card-image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-title {
    color: var(--color-title);
    font-size: 2.1em;
}

.price-action {
    font-family: 'Fraunces', serif;
    font-size: 2.2em;
    color: var(--color-button);
}

.price-normal {
    height: 2.2em;
}

.card-button {
    background-color: var(--color-button);
    color: white;
    border-radius: 8px;
}





/* ------ DEBUG ------ */

/* 
body {
    background-color: lightgray;
}

.card {
    background-color: red;
}

.card-button {
    background-color: blue;
}

.attribution {
    background-color: green;
}
*/
.card-content {
    background-color: yellow;
}



