/* 
"
This is a solution to the "Product preview card component"  challenge on Frontend Mentor. Frontend Mentor challenges help you improve your coding skills by building realistic projects.
Link to the challenge:
https://www.frontendmentor.io/challenges/product-preview-card-component-GO7UmttRfa/hub
*/



/* --- FONTS ---*/

/* Montserrat, 500, 700 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Fraunces, 700 */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');


/* --- VARIABLES ---*/

:root {
    --color-button: #3c8067;
    --color-site-background: #f2ebe3;
    --color-title: #1c232b;
    --color-text: #6c7289;
}


/* --- RESET --- */

* {
    padding: 0;
    margin: 0;
}


/* --- LAYOUT --- */

body {
    height: 100vh;
    height: 100svh;
    mind-width: 375px;
}


/* ------ DEBUG ------ */

body {
    background-color: lightgray;
}

.card {
    background-color: red;
}

.attribution {
    background-color: green;
}
