/* 
"
This is a solution to the "Product preview card component"  challenge on Frontend Mentor. Frontend Mentor challenges help you improve your coding skills by building realistic projects.
Link to the challenge:
https://www.frontendmentor.io/challenges/product-preview-card-component-GO7UmttRfa/hub
*/



/* --- FONTS ---*/

/* Montserrat, 500, 700 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Fraunces, 700 */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');


/* --- VARIABLES ---*/

:root {
    --color-button: #3c8067;
    --color-site-background: #f2ebe3;
    --color-title: #1c232b;
    --color-text: #6c7289;
}


/* --- RESET --- */

* {
    padding: 0;
    margin: 0;
}


/* --- TYPOGRAPHY --- */

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.card-subheading {
    text-transform: uppercase;
}

.card-title {
    font-family: 'Fraunces', serif;
}

/* --- LAYOUT --- */

body {
    height: 100vh;
    height: 100svh;
    min-width: 375px; /* unnötig wenn media-query auch definiert */
    display: grid;
    justify-items: center;
    align-items: center;
}

.card {
    width: 340px;
    /* aspect-ratio: 34 / 61; */
}

.card-image {
    display: block; /*for the the strange <img>-gap*/
    width: 100%;
}

.attribution {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* --- DESIGN --- */

body {
    background-color: var(--color-site-background);
}

.card {
    border-radius: 10px;
    background-color: blue;
}

.card-image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-content {
    padding: 0 1em;
    background-color: lightcoral;
}

/* ------ DEBUG ------ */

/* 
body {
    background-color: lightgray;
}

.card {
    background-color: red;
}

.card-button {
    background-color: blue;
}

.attribution {
    background-color: green;
}
*/

